<!DOCTYPE html>
<html>
    <head>
        <title>Morning Dashboard</title>
        <meta name="description" content="Morning Dashboard displays the current time, weather, stock, clock, date, and to do tasks."/>
        <link rel="stylesheet" href="css/style.css?v2" type="text/css" media="screen">
        <meta charset="UTF-8">
        <meta name="apple-mobile-web-app-capable" content="yes" />  
        <meta name="apple-mobile-web-app-status-bar-style" content="default" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes"/>
    </head>
    <body>
      <div id="target">not rendered</div>
      
      <script src="js/dashboard.js"></script>
    </body>
</html>