<!DOCTYPE html>
<html>
    <head>
        <title>Morning Dashboard Photos</title>
        <link rel="stylesheet" href="css/photos.css" type="text/css" media="screen">
        <meta charset="UTF-8">
    </head>
    <body>
      <div id="target">not rendered</div>
      
      <script src="js/photos.js"></script>
    </body>
</html>