// File Name: _flickr.scss
// Description: Styles for background images pulling from flickr
// Used by: style.scss, 
// Dependencies: 
// Date created: 22/11/2015
// ------------------------------------------------------------

.flickr{
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-size: cover;
  position: absolute;
  height:100%;
  width:100%;
}

.change{
  position: absolute;
  bottom: 30px;
  left: 30px;
  background: url(../img/plus.svg) no-repeat;
  width: 30px;
  height: 30px;
  border:none;
}